<div class="row">
  <div class="span6">
    <div class="well gwell">
      <h1>WE NEED YOUR HELP!</h1>
      <p><%= site_name %> is a community-driven project that aims to bring transparency to the security and privacy of online services.</p>
      <p>We're looking for following people to help:</p>
      <ul>
        <li>Infosec gurus - code review and pentest</li>
        <li>Infosec and privacy peeps - build up the review data (catagories, items, choices)</li>
        <li>Rails developers - fix and improve the code, write unit tests etc.</li>
        <li>Front-end developers - make it pretty and usable</li>
        <li>DevOps engineers - improve the chef code, write tests</li>
        <li>Community evangelists - spread the word and help build the community</li>
        <li>Wordsmiths - improve the text and write documentation</li>
      </ul>
      <p>If you can help, drop an email to <%= mail_to("dev@privacythroughchoice.org") %></p>
      <p>Find out more about the project on the <%= link_to("About page", page_path('about')) %>.</p>
    </div>
  </div>
  <div class="span6">
    <div class="well gwell">
      <h1>PRIVATE MODE</h1>
      <p><%= site_name %> is currently running in preview mode, which means it is automatically wiped every day. So feel free to have a play. Users are as follows:</p>
      <ul>
        <li>user@example.com / password</li>
        <li>mod@example.com / password</li>
        <li>admin@example.com / password</li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <%= render 'shared/search' %>
</div>

<div class="row">
  <div class="span6">
    <%= render_widget :services, :latest %>
  </div>
  <div class="span6">
    <%= render_widget :services, :cloud %>
  </div>
</div>
